body{
    display:flex;
    justify-content: space-between;

}

h1{
    text-align: center;
    color:black;
}
#navbar {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 30px;
    width: 100px;
}
h2{

}


.section{
    font-size:30px;
    border: 10px solid black;
    justify-content: space-around;

}

#content{
    margin-right: 20px;
}